.news-ticker {
  position: fixed;
  top: 60px;
  width: 100%;
  background: black;
  color: white;
  overflow: hidden;
  z-index: 999;
}


.news-ticker-content {
  display: inline-block;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  will-change: transform;
}

.news-ticker-track {
  display: flex;
  width: max-content;
  animation: scroll 12s linear infinite;
}

.news-ticker-track span {
  white-space: nowrap;
  padding-right: 60px;
  font-weight: bold;
}

@keyframes scroll-left {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}


@media (max-width: 768px) {
  .news-ticker {
    position: fixed;
    top: var(--nav-height);
  }
}
